
#page-wrap {
    margin: 20px;
}

/*table {*/
    /*width: 100%;*/
    /*border-collapse: collapse;}*/

/*tr:nth-of-type(odd) {*/
    /*background: #5ab0d2;}*/

thead {
    background: #0064D2;
    color: #FFFFFF;
    font-weight: bold;}

td, th {
    text-align: center;}

/*@media*/
/*only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {*/

    /*table, thead, tbody, th, td, tr {*/
        /*display: block;}*/
    /*thead tr {*/
        /*position: absolute; top: -9999px; left: -9999px;}*/
    /*tr {*/
        /*border: 1px solid #CCCCCC; }*/
    /*td {*/
        /*border: none;*/
        /*border-bottom: 1px solid #eee;*/
        /*position: relative;*/
        /*padding-left: 50%;}*/
    /*td:before {*/
        /*position: absolute;*/
        /*top: 6px; left: 6px;*/
        /*width: 45%;*/
        /*padding-right: 10px;*/
        /*white-space: nowrap;}*/
/*}*/